.tabs-component
  margin 2em 0

.tabs-component-tabs
  background-color transparent
  border-top-left-radius 6px
  border-top-right-radius 6px
  margin-bottom 5px
  padding-left 0

.tabs-component-tab
  color #999
  font-size 14px
  font-weight 600
  margin-right 0
  list-style none
  &:hover
    color: #666
  &.is-active
    color $accentColor
  &.is-disabled *
    color #cdcdcd
    cursor not-allowed !important

.tabs-component-tab-a
  align-items center
  color inherit
  display flex
  padding .4em 2em
  text-decoration none
  &:hover
    color #fff
    text-decoration none !important

.tabs-component-panels
  padding 0 0

@media (min-width: 700px)
  .tabs-component-tabs
    border 0
    align-items stretch
    display flex
    justify-content flex-start
    margin-bottom -1px

  .tabs-component-tab
    background-color #373c46
    border-bottom solid 1px #282c34
    border-radius 3px 3px 0 0
    margin-right .25em
    margin-bottom -1px
    transition transform .3s ease
    &:hover
      background-color #282c34
    &.is-active
      border-bottom solid 1px #3eaf7c
      background-color #282c34
      z-index 2
      transform translateY(0)

  .tabs-component-panels
    background-color #282c34
    border-bottom-left-radius 6px
    border-bottom-right-radius 6px
    box-shadow 0 0 10px rgba(0, 0, 0, .05)
    pre
      margin-top 0 !important
